@import "../../styles/variables";

@mixin banner{
  position: relative;
  img{
    width: 100%;
    height: 500px;
  }
  .banner-content{
    position: absolute;
    top:50px;
    left:60%;
  }
  span{
    font-weight: bold;
    display: block;
    color:$offWhite;
    padding:$unit*4;
    text-transform: uppercase;
    font-size: $subHeading;
  }
  span[class="title"]{
    font-size: $Heading;
  }
}